body {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.haeder-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 500px;
}

.title-logo {
    font-size: 40px;
    margin-top: -10px;
}

.description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
    margin-top: -50px;
}

.btn-description {
    padding: 14px;
    width: 500px;
    background-color: transparent;
    color: white;
    border: 1px solid gray;
    border-image: linear-gradient(to left, rgb(220, 219, 219), black) 1;
    text-decoration: none;

    font-size: 30px;

    cursor: pointer;

    margin-top: 30px;
}

.btn-description-two {
    padding: 14px;
    width: 500px;
    background-color: transparent;
    color: rgb(220, 67, 15);
    border: 1px solid gray;
    border-image: linear-gradient(to bottom, rgb(204, 13, 13), black) 1;
    text-decoration: none;

    font-size: 30px;

    cursor: pointer;

    margin-top: 30px;
}

.btn-description-three {
    padding: 14px;
    width: 500px;
    background-color: transparent;
    color: rgb(12, 73, 204);
    border: 1px solid gray;
    border-image: linear-gradient(to right, rgb(9, 9, 215), black) 1;
    text-decoration: none;

    font-size: 30px;

    cursor: pointer;

    margin-top: 30px;
}

.btn-description:hover {
    transform: scale(0.9);
    transition: 0.4s all;
}

.btn-description-two:hover {
    transform: scale(0.9);
    transition: 0.4s all;
}

.btn-description-three:hover {
    transform: scale(0.9);
    transition: 0.4s all;
}

.icon {
    font-size: 50px;
    color: rgb(84, 82, 82);
    margin-right: 30px;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex-wrap: wrap;
}

@media (max-width: 560px) {
    .image-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image {
        width: 100%;
    }

    .title-description {
        margin-top: 0px;
    }

    .btn-description {
        padding: 10px;
        width: 90%;
        background-color: transparent;
        color: white;
        border: 1px solid gray;
        border-image: linear-gradient(to left, rgb(220, 219, 219), black) 1;
        text-decoration: none;
    
        font-size: 25px;
    
        cursor: pointer;
    }

    .btn-description-two {
        padding: 10px;
        width: 90%;
        background-color: transparent;
        color: rgb(220, 67, 15);
        border: 1px solid gray;
        border-image: linear-gradient(to bottom, rgb(204, 13, 13), black) 1;
        text-decoration: none;
    
        font-size: 25px;
    
        cursor: pointer;
    }

    .btn-description-three {
        padding: 10px;
        width: 90%;
        background-color: transparent;
        color: rgb(12, 73, 204);
        border: 1px solid gray;
        border-image: linear-gradient(to right, rgb(9, 9, 215), black) 1;
        text-decoration: none;
    
        font-size: 25px;
    
        cursor: pointer;
    }

    .description-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: gray;
        margin-top: -20px;
    }
}